.btn {
	@include font($font-size-regular, $font-weight-regular, $font-style-regular, $color-dark-gray, 1);
	letter-spacing: 2px;
	height: 44px;
	padding: 0 $gutter-lg;
	border: 2px solid $color-dark-gray;
	@include transition(all 0.2s ease-in 0s);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: transparent;
	outline: none;

	&:hover {
		color: $color-light-gray;
		background-color: $color-dark-gray;
	}
	&.inverse {
		color: $color-light-gray;
		border-color: $color-light-gray;

		&:hover {
			color: $color-dark-gray;
			background-color: $color-light-gray;
		}
	}
}
