.wrapper {
	.landing-content {
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		height: auto;
		width: 100%;
		padding-bottom: $gutter-xl;
		padding-top: 10rem;
		&.shrink {
			padding-top: 5rem;
		}
		@media (min-height: 600px) {
			height: 100vh;
			padding-bottom: 0;

			.container {
				margin-top: 0 !important;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.container {
			margin-top: $gutter-xl;

			.row {
				.landing-message-wrapper {
					max-width: 48rem - 1.6rem * 2;
					background-color: $color-light-gray;
					padding: $gutter-xxl $gutter-xl $gutter-xxxl;
					@include breakpoint(xs) {
						padding: $gutter-xl $gutter-lg $gutter-xxl;

						.landing-message {
							line-height: 1 !important;
						}
					}
					// @include breakpoint(0, $breakpoint-xs) {
					// 	.landing-message {
					// font-size: $font-size-x-large !important;
					// 	}
					// }

					.landing-message {
						@include font($font-size-xx-large, $font-weight-bold, $font-style-regular, $color-dark-gray, 1.3);
					}
					.separator {
						&:after {
							margin: $gutter-lg 0 0;
						}
					}
					h4 {
						margin: $gutter-lg 0 $gutter-xl;
						line-height: 1.5;
						color: $color-medium-gray;
						letter-spacing: 2px;
					}
					// .btn {
					// }
				}
			}
		}
	}

	.work-content {
		background-color: darken($color-light-gray, 5%);

		.container {
			padding: $gutter-xxxl 0;

			.work-heading-wrapper {
				margin-bottom: $gutter-xxxl;
				justify-content: center;

				h1 {
					text-align: center;
					text-transform: uppercase;
				}
			}
			.work-cards-wrapper {
				.work-card {
					display: flex;
					flex-direction: column;
					background-color: $color-light-gray;
					overflow: hidden;
					position: relative;
					@include box-shadow(all);

					.work-card-info-wrapper {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						top: 0;
						z-index: 1;
						background-image: linear-gradient(to bottom, rgba($color-dark-gray, 0.4), rgba($color-dark-gray, 0.8));
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						opacity: 0;
						@include transition(opacity 0.4s ease-in-out 0s);

						h4 {
							font-weight: $font-weight-bold;
							color: $color-light-gray;
							text-transform: uppercase;
							// margin-bottom: $gutter-xs;
						}
						h3 {
							color: $color-light-gray;
						}
					}
					.work-card-img-wrapper {
						width: 100%;
						height: 350px;
						overflow: hidden;

						.work-thumbnail {
							display: block;
							@include transition(transform 0.4s ease-in-out 0s);
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

					&:hover {
						.work-card-info-wrapper {
							opacity: 1;
						}
						.work-card-img-wrapper img {
							transform: scale(1.2);
						}
					}
				}
			}
		}
	}

	.newsletter-content {
		background-color: $color-light-gray;

		.container {
			padding: $gutter-xxxl 0;

			.row {
				flex-direction: column;
				align-items: center;

				figure {
					display: flex;
					flex-direction: column;
					align-items: center;

					.newsletter-img-wrapper {
						height: 150px;
						width: 150px;

						.newsletter-graphic {
							height: 100%;
							width: 100%;
						}
					}
					figcaption {
						text-transform: uppercase;
						margin: $gutter-xl 0 $gutter-sm;
						@include font($font-size-xx-large, $font-weight-regular, $font-style-regular, $color-dark-gray, 1, 2px);
					}
				}
			}
			form[name="newsletter-form"] {
				display: flex;
				justify-content: center;
				margin-top: 0;

				fieldset {
					max-width: $breakpoint-md;

					legend {
						@include font($font-size-large, $font-weight-regular, $font-style-regular, $color-dark-gray, 1.1, 2px);
						text-align: center;
					}

					.newsletter-input-wrapper {
						max-width: $breakpoint-sm;
						padding-top: $gutter-xl;
						margin: 0 auto;
						&:last-child {
							padding-top: $gutter-lg;
							display: flex;
							justify-content: center;
						}

						.txt-input {
							text-align: center;
							&::placeholder {
								text-transform: none;
								text-align: center;
							}
						}
						span,
						// label
						 {
							display: block;
							margin-top: $gutter-sm;
							color: $color-grapefruit;
						}
						// .btn {
						// width: 100%;
						// }
					}
				}
			}
		}
	}

	.extended-feature-content {
		background-color: darken($color-light-gray, 5%);
		&:nth-child(2n) {
			background-color: $color-light-gray;

			.container {
				.row {
					@include breakpoint(md) {
						flex-direction: row-reverse;

						.column + .column {
							margin-left: 0;
							margin-right: $gutter-lg;
						}
					}
				}
			}
		}

		.container {
			padding: $gutter-xxxl 0;

			.row {
				@include breakpoint(md) {
					.column + .column {
						margin-left: $gutter-lg;
					}
				}

				.extended-feature-info-wrapper {
					display: flex;
					flex-direction: column;
					justify-content: center;

					h1 {
						font-weight: $font-weight-bold;
						line-height: 1.3;
						letter-spacing: normal;
						text-align: center;
					}
					p {
						margin: $gutter-lg 0 $gutter-xl;
						line-height: 1.5;
						color: $color-medium-gray;
						letter-spacing: 2px;
						text-align: center;
					}
					@include breakpoint(xs) {
						h1 {
							font-size: $font-size-x-large;
						}
					}
					@include breakpoint(md) {
						h1,
						p {
							text-align: left;
						}
					}

					.btn-wrapper {
						justify-content: center;
						display: flex;
						@include breakpoint(md) {
							justify-content: flex-start;
						}
					}
				}
				.extended-feature-img-wrapper {
					display: flex;
					justify-content: center;
					align-items: center;

					.extended-feature-graphic {
						display: block;
						height: auto;
						width: 100%;
						max-width: 250px;
						margin: 0 auto;
						@include transition(transform 0.4s ease-in-out 0s);
						@include breakpoint(md) {
							max-width: 400px;
						}
					}
				}
			}
		}
	}

	.team-content {
		background-color: $color-light-gray;

		.container {
			padding: $gutter-xxxl 0;

			.team-heading-wrapper {
				margin-bottom: $gutter-xl;
				justify-content: center;

				h1 {
					text-transform: uppercase;
					text-align: center;
				}
			}
			.team-cards-wrapper {
				display: flex;
				flex-direction: column-reverse;

				.row + .row {
					margin-top: 0;
					margin-bottom: $gutter-md;
				}
				.row {
					.team-card {
						display: flex;
						flex-direction: column;
						align-items: center;
						background-color: $color-light-gray;
						overflow: hidden;

						.team-card-info-wrapper {
							display: flex;
							flex-direction: column;
							align-items: center;
							margin-top: $gutter-sm;

							hgroup {
								h2 {
									text-align: center;
									text-transform: uppercase;
								}
								h4 {
									color: $color-medium-gray;
									text-align: center;
									text-transform: capitalize;
								}
							}
							.team-socials-wrapper {
								display: flex;
								flex-direction: row;
								align-items: center;
								justify-content: center;
								margin-top: $gutter-xs;

								.team-social {
									display: flex;
									padding: $gutter-sm;
									&:hover {
										.team-icon {
											color: $color-dark-gray;
										}
									}

									.team-icon {
										color: $color-medium-gray;
										height: $font-size-large;
										width: $font-size-large;
										@include transition(color 0.2s ease-in 0s);
									}
								}
							}
						}
						.team-card-img-wrapper {
							width: 150px;
							height: 150px;
							border-radius: 50%;
							overflow: hidden;
							position: relative;

							.team-thumbnail {
								display: block;
								@include transition(transform 0.4s ease-in-out 0s);
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
							.team-card-img-overlay {
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								top: 0;
								z-index: 1;
								background-image: linear-gradient(to bottom, rgba($color-dark-gray, 0.1), rgba($color-dark-gray, 0.8));
							}
						}

						&:hover > .team-card-img-wrapper img {
							transform: scale(1.2);
						}
					}
				}
			}
		}
	}

	.feature-content {
		background-color: $color-light-gray;

		.container {
			padding: $gutter-xxxl 0;

			.feature-heading-wrapper {
				margin-bottom: $gutter-xl;
				justify-content: center;

				h1 {
					text-transform: uppercase;
					text-align: center;
				}
			}
			.feature-cards-wrapper {
				.feature-card {
					display: flex;
					flex-direction: column;
					align-items: center;
					background-color: $color-light-gray;
					padding: $gutter-md;

					.feature-card-info-wrapper {
						display: flex;
						flex-direction: column;
						align-items: center;

						h3 {
							text-align: center;
							text-transform: capitalize;
							margin: $gutter-lg 0;
							font-weight: $font-weight-bold;
							letter-spacing: 2px;
						}
						p {
							color: $color-medium-gray;
							text-align: center;
						}
					}
					.feature-icon-wrapper {
						height: 80px;
						width: 80px;
						display: flex;
						justify-content: center;
						align-items: center;
						border: 2px solid $color-dark-gray;
						border-radius: 50%;
						&:hover .feature-icon {
							transform: scale(0.9);
						}

						.feature-icon {
							color: $color-dark-gray;
							// height: $font-size-x-large;
							// width: $font-size-x-large;
							height: 40px;
							width: 40px;
							@include transition(transform 0.4s ease-in-out 0s);
						}
					}
				}
			}
		}
	}

	.client-content {
		background-color: darken($color-light-gray, 5%);

		.container {
			padding: $gutter-xxxl 0 0;
			&:last-child {
				padding: $gutter-xl 0;
				max-width: none;
				background-color: $color-light-gray;
			}

			.client-testimonial {
				margin-top: 0;
				margin-bottom: $gutter-xxxl;
			}
			.client-heading-wrapper {
				justify-content: center;

				h1 {
					text-align: center;
					text-transform: uppercase;
				}
			}
			.client-cards-wrapper {
				background-color: $color-light-gray;

				.client-card {
					display: flex;
					justify-content: center;
					background-color: $color-light-gray;
					overflow: hidden;

					.client-card-img-wrapper {
						display: flex;
						align-items: center;
						width: 100px;
						height: 100px;
						overflow: hidden;

						.client-thumbnail {
							display: block;
							@include transition(transform 0.4s ease-in-out 0s);
							width: 100%;
							object-fit: cover;
						}
					}
					&:hover > .client-card-img-wrapper img {
						transform: scale(0.8);
					}
				}
			}
		}
	}
}
