.footer {
	background-color: $color-dark-gray;

	.container {
		padding: $gutter-xxxl 0;

		.row {
			.column._55 {
				@include breakpoint(md) {
					justify-content: flex-start;
				}

				h2 {
					font-variant: small-caps;
					letter-spacing: normal;
					color: $color-light-gray;
					text-align: center;
					@include breakpoint(md) {
						text-align: left;
					}
				}
				p {
					letter-spacing: normal;
					line-height: 1.3;
					margin: $gutter-lg 0;
					color: $color-light-gray;
					text-align: center;
					@include breakpoint(md) {
						text-align: left;
					}
				}
				span {
					display: flex;
					align-items: center;
					color: $color-light-gray;
					justify-content: center;
					@include breakpoint(md) {
						justify-content: flex-start;
					}

					.footer-icon {
						height: $font-size-regular;
						width: $font-size-regular;
						margin: 0 $gutter-xs;
					}
					i {
						// font-weight: $font-weight-bold;
						margin-left: $gutter-xs;
					}
				}
			}
			.column._20 {
				display: flex;
				justify-content: center;
				margin-top: $gutter-xl;
				@include breakpoint(md) {
					margin-top: 0;
				}

				ul {
					display: flex;
					flex-direction: column;
					justify-content: center;
					@include breakpoint($breakpoint-sm, $breakpoint-md) {
						flex-direction: row;
					}

					li {
						display: flex;
						@include breakpoint(0, $breakpoint-sm) {
							justify-content: center;
						}
						a {
							@include font($font-size-regular, $font-weight-regular, $font-style-regular, $color-medium-gray, 1.3);
							@include transition(all 0.2s ease-in 0s);
							padding: $gutter-xs;
							text-transform: capitalize;
							&:hover {
								color: $color-light-gray;
							}
						}
					}
				}
			}
			.column._25 {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-top: $gutter-xl;
				@include breakpoint(md) {
					margin-top: 0;
				}

				span {
					display: flex;
					@include font($font-size-regular, $font-weight-regular, $font-style-regular, $color-medium-gray, 1);
					text-transform: uppercase;
				}
				.footer-socials-wrapper {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					margin-top: $gutter-sm;

					.footer-social {
						display: flex;
						padding: $gutter-sm;
						&:hover {
							.footer-icon {
								color: $color-light-gray;
							}
						}

						.footer-icon {
							color: $color-medium-gray;
							height: $font-size-x-large;
							width: $font-size-x-large;
							@include transition(color 0.2s ease-in 0s);
							@include breakpoint(0, $breakpoint-sm) {
								height: $font-size-large;
								width: $font-size-large;
							}
						}
					}
				}
			}
			.language-picker-content {
				background-color: $color-light-gray;
				height: 550px;
				position: relative;

				.container {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					max-width: 100%;
					padding: 0 $gutter-md;

					.row {
						padding: 0 1.6rem;
						&:nth-child(2) {
							margin-top: $gutter-xxl;
						}
					}

					.language-picker-icon {
						color: $color-medium-gray;
						height: $font-size-large;
						width: $font-size-large;
						@include transition(color 0.2s ease-in 0s);
						&:hover {
							color: $color-dark-gray;
							cursor: pointer;
						}
					}
					.language-picker-heading-wrapper {
						h2 {
							font-weight: $font-weight-bold;
						}
					}
					.language-picker-list {
						margin-top: $gutter-xl;
						display: flex;
						flex-direction: column;

						.language-picker-item {
							display: flex;
							flex-direction: row;
							align-items: center;
							padding: $gutter-xs 0;
							&:hover {
								cursor: pointer;
							}

							.language-picker-item-icon {
								color: $color-dark-gray;
								height: $font-size-large;
								width: $font-size-large;
								margin-left: $gutter-md;
							}
							h3 {
								text-transform: capitalize;
								color: $color-medium-gray;
								font-weight: $font-weight-bold;
								&.active {
									color: $color-dark-gray;
								}
							}
						}
					}
				}
			}
		}
	}
}
