.user-view-content {
	margin-top: -100px;
	background-color: $color-light-gray;

	.container {
		max-width: $breakpoint-md;

		.row {
			@include breakpoint(md) {
				padding: 0;
			}
			.user-heading-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				overflow: hidden;

				.user-info-wrapper {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: $gutter-sm;

					hgroup {
						h1 {
							text-align: center;
							text-transform: capitalize;
							&.separator:after {
								margin: $gutter-md auto;
							}
						}
						h3 {
							text-align: center;
							letter-spacing: normal;
							color: $color-medium-gray;
						}
						.user-location-info-wrapper {
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: center;
							// margin-top: $gutter-xs;

							.user-location-icon {
								color: $color-medium-gray;
								height: $font-size-regular;
								width: $font-size-regular;
								margin-right: $gutter-xs;
							}
							h4 {
								// font-weight: $font-weight-bold;
								color: $color-medium-gray;
								text-align: center;
								text-transform: capitalize;
								letter-spacing: normal;
							}
						}
					}
					// p {
					// 	margin-top: $gutter-xl;
					// 	color: $color-medium-gray;
					// 	text-align: center;
					// }
				}
				.user-img-wrapper {
					width: 200px;
					height: 200px;
					border-radius: 50%;
					overflow: hidden;
					position: relative;
					border: 3px solid $color-light-gray;
					background-color: $color-medium-gray;
					-webkit-mask-image: -webkit-radial-gradient($color-light-gray, $color-light-gray);
					@include box-shadow(all);
					&:hover img {
						transform: scale(1.2);
					}

					.user-thumbnail {
						display: block;
						@include transition(transform 0.4s ease-in-out 0s);
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					.user-img-overlay {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						top: 0;
						z-index: 1;
						background-image: linear-gradient(to bottom, rgba($color-dark-gray, 0.1), rgba($color-dark-gray, 0.3));
					}
				}
			}
			.btn-wrapper {
				display: flex;
				align-items: center;
				flex-direction: column;
				margin-bottom: $gutter-xxxl;

				p {
					color: $color-medium-gray;
					text-align: center;
				}
				.loader-wrapper,
				.btn {
					margin-top: $gutter-md;
				}
			}
			&.user-stats {
				margin: $gutter-lg 0;

				.user-stats-item {
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin: $gutter-lg 0;

					h1 {
						@include breakpoint(xs) {
							font-size: $font-size-x-large;
						}
					}
					h4 {
						display: inline-block;
						// margin-top: $gutter-sm;
						color: $color-medium-gray;
						letter-spacing: normal;
					}
				}
			}
		}
	}
}
