.btn {
	@include font($font-size-regular, $font-weight-regular, $font-style-regular, $color-dark-gray, 1);
	letter-spacing: 2px;
	height: 44px;
	padding: 0 $gutter-lg;
	border: 2px solid $color-dark-gray;
	@include transition(all 0.2s ease-in 0s);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: transparent;
	outline: none;

	&:hover {
		color: $color-light-gray;
		background-color: $color-dark-gray;
	}
	&.inverse {
		color: $color-light-gray;
		border-color: $color-light-gray;

		&:hover {
			color: $color-dark-gray;
			background-color: $color-light-gray;
		}
	}
}

.tag {
	@include font($font-size-small, $font-weight-regular, $font-style-regular, $color-dark-gray, 1, 2px);
	@include transition(all 0.2s ease-in 0s);
	height: 25px;
	padding: 0 $gutter-sm;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: darken($color-light-gray, 5%);
	outline: none;
	border-radius: 12.5px;
	margin: $gutter-xs;

	&:first-child {
		margin-left: 0;
	}
	&:hover {
		background-color: darken($color-light-gray, 10%);
		cursor: pointer;
	}
	&.active {
		background-color: $color-dark-gray;
		color: $color-light-gray;
		&:hover {
			cursor: default;
		}
	}
}
