.slider {
	height: 300px;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	justify-content: center;

	&-control-group {
		display: flex;
		flex-direction: row;
		margin-bottom: -$gutter-sm;

		// .slider-control {
		// }
	}
	&-contents-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		@include transition(transform 0.4s ease-out 0s);

		.slider-contents {
			height: 100%;
			display: flex;
			flex: 1;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: center;

			// .slider-image {
			// }
			.slider-caption {
				font-weight: $font-weight-bold;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			.slider-txt {
				text-align: center;
				font-style: $font-style-italic;
				margin-bottom: $gutter-lg;
				max-width: $breakpoint-sm;
				max-height: $font-size-regular * 1.5 * 4;
				overflow: hidden;
				@include breakpoint(md) {
					max-width: $breakpoint-md;
				}
			}
		}
	}
}
