.link {
	position: relative;
	font-weight: $font-weight-bold;
	// font-style: $font-style-italic;
	color: darken($color-dark-gray, 50%);

	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 2px;
		background-color: $color-dark-gray;
		@include transition(width 0.3s ease-in-out 0s);
	}
	&:hover:before {
		width: 100%;
	}
}
