.loader-wrapper {
	height: 44px;
	padding: 0 $gutter-lg;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	outline: none;
	&.clear {
		height: auto;
		padding: 0;
		align-items: stretch;
		justify-content: flex-start;
	}

	.loader {
		border-radius: 50%;
		width: 3.2rem;
		height: 3.2rem;
		border: 0.6rem solid $color-dark-gray;
		border-top-color: transparent;
		animation: spin 1s infinite linear;
		&.small {
			border-width: 0.4rem;
			width: 2.4rem;
			height: 2.4rem;
		}
		&.inverse {
			border-color: $color-light-gray;
			border-top-color: transparent;
		}
	}
}
