.news-list-wrapper {
	position: relative;

	.news-list-header {
		position: absolute;
		top: 0;
		z-index: 1;
		width: 100%;
		background-color: $color-light-gray;
		&.clear {
			background-color: darken($color-light-gray, 5%);
		}

		.container {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			min-height: 30rem;
			&.shrink {
				min-height: 25rem;
			}
			&.clear {
				min-height: 22rem;
				justify-content: center;
			}
			@include breakpoint(md) {
				min-height: 27rem;
				&.shrink {
					min-height: 22rem;
				}
			}
			@include breakpoint(0, $breakpoint-xs) {
				min-height: 35rem;
				&.shrink {
					min-height: 30rem;
				}
			}

			.news-heading-wrapper {
				.column {
					display: flex;
					align-items: center;
					justify-content: center;
					@include breakpoint(md) {
						&:first-child {
							justify-content: flex-start;
						}
						&:last-child {
							justify-content: flex-end;
						}
						&.clear {
							justify-content: center;
						}
					}

					h1 {
						text-align: center;
						text-transform: uppercase;
					}
				}
			}
			.news-heading-tabs {
				margin-top: $gutter-md;

				.column {
					display: flex;
					flex-direction: row;
					justify-content: center;
					@include breakpoint(md) {
						justify-content: flex-start;
					}

					.news-heading-tab {
						@include font($font-size-regular, $font-weight-regular, $font-style-regular, $color-medium-gray, 1.3);
						@include transition(all 0.2s ease-in 0s);
						padding: $gutter-md;
						border-bottom: 2px solid $color-light-gray;

						&.active {
							color: $color-dark-gray;
							border-bottom-color: $color-dark-gray;
						}
						&:hover {
							cursor: pointer;
							color: $color-dark-gray;
						}
					}
				}
			}
		}
	}
	.news-list-content {
		background-color: darken($color-light-gray, 5%);
		min-height: 100vh;
		padding-top: 30rem;
		&.clear {
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 100%;
		}
		&.shrink {
			padding-top: 25rem;
		}
		&.fixed {
			padding-top: 22rem !important;
		}
		@include breakpoint(md) {
			padding-top: 27rem;
			&.shrink {
				padding-top: 22rem;
			}
		}
		@include breakpoint(0, $breakpoint-xs) {
			padding-top: 35rem;
			&.shrink {
				padding-top: 30rem;
			}
		}

		.container {
			.news-info-wrapper {
				.column {
					p {
						text-align: center;
					}
				}
			}
			.news-cards-wrapper {
				display: flex;
				flex-direction: column;
				padding: $gutter-xxxl 0;
				&.fixed {
					padding-top: 0;
				}

				.row {
					&.news-cards-btn-wrapper {
						margin-top: $gutter-xxxl;
						justify-content: center;
					}
					.column + .column {
						@include breakpoint(0, $breakpoint-sm) {
							&.empty {
								margin-top: 0;
							}
						}
						@include breakpoint($breakpoint-sm, $breakpoint-lg) {
							margin-top: $gutter-md;
							margin-left: 0;
							&.empty {
								margin-top: 0;
							}
						}
					}
					.column {
						@include breakpoint($breakpoint-sm, $breakpoint-lg) {
							flex-basis: 100%;
						}

						.news-card {
							height: 100%;
							display: flex;
							flex-direction: column;
							background-color: $color-light-gray;
							overflow: hidden;
							@include box-shadow(all);
							&.full {
								@include breakpoint(sm) {
									flex-direction: row;

									.news-card-img-wrapper {
										height: 375px;
									}
									.news-card-info-wrapper {
										width: calc(100% - #{$gutter-xxl});
									}
								}
							}
							@include breakpoint($breakpoint-sm, $breakpoint-lg) {
								flex-direction: row;

								.news-card-img-wrapper {
									height: 375px !important;
								}
								.news-card-info-wrapper {
									width: calc(100% - #{$gutter-xxl}) !important;
								}
							}

							.news-card-info-wrapper {
								width: 100%;
								min-height: 375px;
								padding: $gutter-lg;
								position: relative;

								.news-tag-wrapper {
									display: inline-block;
								}
								hgroup {
									margin: 0 0 $gutter-sm;

									h2 {
										font-weight: $font-weight-bold;
										letter-spacing: normal;
										line-height: 1.3;
										max-height: $font-size-x-large * 1.3 * 3;
										overflow: hidden;
										@include breakpoint(xs) {
											font-size: $font-size-large;
											max-height: $font-size-large * 1.3 * 3;
										}
									}
								}
								p {
									letter-spacing: normal;
									max-height: $font-size-regular * 1.5 * 3;
									overflow: hidden;
								}
								.news-meta {
									display: flex;
									align-items: center;
									flex-direction: row;
									padding-bottom: $gutter-md;

									span {
										text-transform: capitalize;
										&:nth-child(2) {
											font-size: $font-size-regular;
											margin: 0 $gutter-xs;
										}
									}
									time {
										@include font($font-size-small, $font-weight-regular, $font-style-regular, $color-medium-gray, 1);
										text-transform: lowercase;
									}
								}
								.news-card-link-wrapper {
									position: absolute;
									bottom: $gutter-lg;
									display: flex;
									flex-direction: row;
									align-items: center;

									span {
										@include font($font-size-small, $font-weight-bold, $font-style-regular, $color-dark-gray, 1);
										text-transform: uppercase;
										&:nth-child(2) {
											font-size: $font-size-regular;
											margin-left: $gutter-xs;
										}
									}
									// .news-card-icon {
									// 	margin-left: $gutter-xs;
									// 	color: $color-dark-gray;
									// 	height: $font-size-small;
									// 	width: $font-size-small;
									// }
								}
							}
							.news-card-img-wrapper {
								width: 100%;
								height: 275px;
								overflow: hidden;
								position: relative;
								background-color: $color-light-gray;

								.news-thumbnail {
									display: block;
									@include transition(transform 0.4s ease-in-out 0s);
									width: 100%;
									height: 100%;
									object-fit: cover;
									&.shrink {
										width: 50%;
										height: 50%;
										object-fit: fill;
									}
								}
								.news-card-img-overlay {
									position: absolute;
									bottom: 0;
									left: 0;
									right: 0;
									top: 0;
									z-index: 1;
									background-image: linear-gradient(
										to bottom,
										rgba($color-dark-gray, 0.1),
										rgba($color-dark-gray, 0.3)
									);
								}
							}

							&:hover > .news-card-img-wrapper img {
								transform: scale(1.2);
							}
						}
					}
				}
			}
		}
	}
}
