* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	body {
		background-color: $color-dark-gray;

		#root {
			fieldset {
				border: 0;
				legend {
					display: table;
				}
			}
			ul {
				list-style: none;
			}
			a {
				text-decoration: none;
				&:hover {
					cursor: pointer;
				}
			}
			img {
				display: block;
				@include font($font-size-regular, $font-weight-regular, $font-style-regular, $color-dark-gray);
			}
			.medium-editor-placeholder:after {
				font-family: $font-family-dosis !important;
				font-size: $font-size-large !important;
				font-weight: $font-weight-regular !important;
				font-style: $font-style-italic !important;
				color: $color-medium-gray !important;
				line-height: 1.3 !important;
				letter-spacing: 2px;
			}
		}
		.medium-editor-toolbar {
			.medium-editor-toolbar-actions {
				li {
					button {
						font-family: $font-family-times-new-roman !important;
						font-size: $font-size-regular !important;
						font-weight: $font-weight-light !important;
						font-style: $font-style-regular !important;
						color: $color-light-gray !important;
						line-height: 1.3 !important;
						// &:hover {
						// 	color: $color-sunflower !important;
						// }
					}
					.medium-editor-button-active {
						color: $color-sunflower !important;
					}
				}
			}
			.medium-editor-toolbar-form {
				.medium-editor-toolbar-input {
					@include font($font-size-regular, $font-weight-regular, $font-style-regular, $color-light-gray, 1);
					&::placeholder {
						color: $color-medium-gray;
					}
				}
			}
		}
		.medium-editor-toolbar-anchor-preview {
			border-radius: 8px !important;

			a {
				font-family: $font-family-dosis !important;
				font-size: $font-size-regular !important;
				font-weight: $font-weight-light !important;
				font-style: $font-style-regular !important;
				color: $color-light-gray !important;
				line-height: 1.3 !important;
				margin: 0 5px 3px !important;
			}
		}
	}
}
